.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}
.header__navbar-item{
    position: relative;
}
.header__navbar-item-top{
  top: 1px;

}
.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
    
}
.header__navbar-item-link-icon:nth-child(2){
    margin-left: 3px;
}
.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    top: calc(100% + 11px);
    padding-left: 0;
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    width: 160px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    animation: fadeIN ease-in-out 0.5s;
    display: none; 
}
.header__navbar-user-menu::after{
    content: "";
    position: absolute;
    right: 4px;
    top: -21px;
    border-width: 13px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    margin-right: 4px;
}

.header__navbar-user-item-separate{
    border-top: 1px solid rgba(0,0,0,0.05);
}
.header__navbar-user-link{
    text-decoration: none;
    color: var(--black-color);
    padding: 4px 16px;
    display: block;
}
.header__navbar-user-link:hover{
    background-color: #f7f7f7;
}
.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
}
.header__navbar-user-name{
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 400;
    
}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    margin-right: 20px;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    z-index: 1;
}
.header__navbar-item:hover,
.header__navbar-item-link-icon:hover,
.header__navbar-item-link:hover{
    color:rgba(255,255,255,0.7);
    cursor: pointer;
}
.header__navbar-item-strong{
    font-weight: 500;
}
.header__navbar-item-sperate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: var(--white-color);
    right: -10px;
    top: 40%;
    transform: translateY(-50%);   
}
.header__navbar-item-link-icon{
    color: var(--white-color);
    font-size: 1.8rem;
}
.header__navbar-icon{
    margin: 0 4px;
}
.header__navbar-not--pointer{
    cursor: text;
    color: var(--white-color);
}
.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    animation: fadeIn ease-in-out 0.5s;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.header__navbar-item--QR:hover .header__qr{
    display: block;

}
.header__qr-app{
    display: flex;
    justify-content: space-between;
}
.header__qr-img{
    width: 100%;
}
.header__qr-dowload-img{
    height: 17px;
    
}
.header__qr-link:nth-child(1){
    margin-left: 11px ;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
}
.header__notify{
    position: absolute;
    top: 100%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #D3D3D3;
   animation: fadeIn ease-in-out 0.5s;
    display: none;
    z-index: 1;
}
.header__navbar-item-notify:hover .header__notify{
    display: block;
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
   
}
.header__notify-header h3{
    color: #888;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}
.header__notify-list{
    padding: 0 0 0 0;
}
.header__notify-item{
    display: flex;
}
.header__notify-item:hover{
    background-color: #f7f7f7;

}
.header__notify-item--read{
    background-color: #eab7b7;
}
.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    background-color: rgba(238,75,43,0.09);
    width: 100%;
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
    
}
.header__notify-infor{
    margin-left: 12px;
    
}
.header__notify-infor-name{
    display: block;
    font-size: 1.4rem;
    color: black;
    font-weight: 400;
    line-height: 1.8rem ;
}
.header__notify-infor-content{
    display: block;
    font-size: 1.2rem;
    color: #857e7e;
    line-height: 1.6rem;
}
.header__notify-footer{
    display: flex;
}
.header__notify-footer-link{
    text-decoration: none;
    color: var(--black-color);
    margin: auto ;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 4px 0;
}
/* login 
register */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    z-index: 1;
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal__overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }


.aunt-form__container{
    padding: 0 32px;
}
.aunt-form__header{
    display: flex;
    justify-content: space-between;
    margin: 0 0 24px 0;
    align-items: center;
    cursor: default;
}
.aunt-form__heading{
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--black-color);
  
}
.aunt-form__switch-form{
    font-size: 1.4rem;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}
.aun-form{
    width: 500px;
}
.aunt-form__form{
    margin-top: 16px;
}
.aunt-form__group{
    margin-bottom: 16px;
 
}
.aunt-form__input{
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid #D3D3D3;
    outline: none;
}
.aunt-form__input:focus{
    border-color: #888;
}
.aunt-form__bonus{
    margin-top: 20px;
}
.aunt-form__policy{
    font-size: 1.4rem;
    color: #888;
    margin-top: 16px;
    text-align: center;
}
.aunt-form__policy-link{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
}
.aunt-form__control{
    display: flex;
    justify-content: space-between; 
    margin-top: 24px;
}
.aunt-form__social{
    padding: 16px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #D3D3D3;
    
    
}
.hoac{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
    font-size: 1.4rem;
    color: #888;
}
.btn--with--icon{
    text-decoration: none;
}
.aunt-form__social-icon{
    font-size: 2.0rem;
    padding: 0 8px;
    
}

.aunt-form__social--facebook{
    background-color: #3A5A98;
    color: var(--white-color);
    width: auto;
    height: auto;
   
}
.aunt-font__social--title{
    margin: 0 24px;
}
.aunt-form__social--google{
    background-color: var(--white-color);
    color: var(--back-color);
    width: auto;
    height: auto;
}
 /* .aunt-form__social--google.btn--with--icon{
    display: flex;
    justify-content: center;
    align-items: center;
 } */

.aunt-form__help{
    display: flex;
    justify-content: right  ;
    margin-top: 24px;
}
.aunt-form__help--link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.aunt-form__help--seperate{
    margin: 0 8px;
    font-size: 1.4rem;
    border: 1px solid #D3D3D3;
    height: 19px;
}
.aunt-form__help--forgot{
    color: var(--primary-color);
}
.header-with-search{
    height: 95px;
    display: flex;
    align-items: center;
}
.header__logo{
    width: 200px;
}
.header__logo-img{
    width: 150px;  
}

.search-box {
   background-color: var(--white-color);
   flex: 1;
   height: 40px;
   border-radius: 2px;
   display: flex;
   align-items: center;
  }
  .search-input-wrap{
    flex: 1;
    height: 100%;
    
  }
  
  .search-input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
  }
  
  .search-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    background-color: #EE4D2D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .fas.fa-search {
    font-size: 16px;
  }

.search-selection{
    border-left: 1px solid #D3D3D3;
    padding-left: 16px;
    position: relative;
} 
.selection-label{
    font-size: 1.4rem;
    color: #888;
    font-weight: 500;
    cursor: pointer;
}   
.search-icon{
    font-size: 1.2rem;
    color: #4A4A4A;
    margin: 0 16px;
    position: relative;
    top:1px
}
.search-btn{
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 3px;
    padding: 8px 20px;
    width: 65px;
    height: 35px;
    cursor: pointer;
    margin-right: 4px;
}
.search-btn:hover{
    background-color: #fb6445;
}
.search-btn-icon{
    font-size: 1.4rem;
}
.search-option{
    position: absolute;
    right: 0;
    top: 100%;
    width: 130px;
    list-style: none;
    margin-top: 15px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    padding-left: 0;
    border-radius: 3px;
    display: none;
}
.search-selection:hover .search-option{
    display: block;
}
.search-option::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10px;
    top: -15px;
    left: 0;
    border-bottom: 10px solid #fff;
    opacity: 0.0;
}
.search-item{
    background-color: var(--white-color);
    padding: 8px 8px;
    text-align: right;
}
.search-item:hover{
    background-color: #f7f7f7;
    cursor: pointer;
}
.search-item-label {
    font-size: 1.4rem;
    color: var(--text-color);
}
.search-item-label-icon{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin: 0 4px 0 17px;  
}

.search-input:focus ~.search-history{
    display: block;
}

.search-history{
    position: absolute;
    width: 610px;
    background-color: var(--white-color);
    box-shadow: 0 1px 5px #999;
    top: 100px;
    border-radius: 2px;
    display: none;
    z-index: 1;
}
.search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #c1bfbf;
    font-weight: 400;
}
.search-history-list{
    list-style: none;
    padding: 0 13px;
    margin-bottom: 0;
   
    
}
.search-history-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 0;
    line-height: 38px;
    
}
.search-history-link:hover{
    background-color: #f7f7f7;
    
}  

.header-cart{
    width: 170px;
    text-align: center;
    
}
.header-cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px; 
}
.header-cart:hover .header-cart-list{
    display: block;
    cursor: pointer;
}
.header-cart-icon{
        color: var(--white-color);
        font-size: 2.4rem;
        
}
.header-cart-list{
    position: absolute;
    top: calc(100% + 11px);
    right: -14px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125px 0 rgba(0,0,0,0.2);
     display: none; 
    animation: fadeIn ease-in-out 0.5s;
    z-index: 1;
    
}
.header-cart-list::after{
    content: "";
    position: absolute;
    right: 4px;
    top: -30px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    margin-right: 4px;
}
    
.header-cart-no-cart-img{
    width: 60%;
    display: none;
}
.header-cart-list--no-cart{
    padding: 28px 0;
}
.header-cart-list--no-cart .header-cart-no-cart-img,
.header-cart-list--no-cart .header-cart-no-cart-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header-cart-no-cart-text{
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}
.header-cart-notice{
    position: absolute;
    padding: 2px 8px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 11px;
    margin-top: -12px;
    right: -10px;
    border: 2px solid #EE4D2D ;
}

.header-cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
}
.header-cart-list-item{
    padding-left: 0;
    list-style: none;
    height: 56vh;
    overflow-y: auto;
}
.header-cart-item{
    display: flex;
}
.header-cart-img{
    width: 42px;
    height: 42px;
    margin: 12px ;
}
.header-cart-item-info{
    width: 100%;
}
.header-cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
}
.header-cart-item-name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
     line-height: 2rem; 
     max-height: 4rem; 
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    text-align: left;

}
.header-cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color:var(--primary-color);
}
.btn--primary{
    border-radius: 2px;
    font-weight: 400;
    font-size: 1.4rem;
}
.header-cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}
.header-cart-item:hover{
    background-color: #f7f7f7;
}

/* App container */
.app__container{
    background-color: #F5F5F5;
}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category-heading{
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    margin-top: 0;
}
.category-heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
}
.category-list{
    list-style: none;
    padding: 0 0 8px 0;
    margin-left: 9px;
}
.category-item{

}
.category-item--active .category-link{
    color: var(--primary-color);
    ;
}
.category-item--active .category-link::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: var(--primary-color);
    left: 0;
    top: 0;
}
.category-link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;  
    padding: 5px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}
.category-link:hover{
    color:var(--primary-color);
    right: -4px;
}
.app__contend{
    padding-top: 36px;
}
/* Home short + filter */
.home-filter{
    background-color: rgba(0,0,0,0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    font-weight: 500;
    margin-right: 16px;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__btn{
    margin-right: 12px;
    width: 90px;
}
.home-filter__page-num{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    
    
}
.home-filter__page-btn{
    flex: 1;
    width: 36px;
    height: 36px;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
    
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #ccc;
    cursor: default;
}
i.btn2{
    color: #151414;
    cursor: pointer;
}
.home-filter__page__icon{
    margin: auto;
    font-size: 1.4rem;
    
}
.hihi{
    color: #ccc;
    
}
/* Product item */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    display: block;
    text-decoration: none;

}

.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05);

}
.home-product-item__img{  
    padding-top: 100%;
    background-size: cover;
    background-size: contain;
}
h4.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: #555;
    line-height: 1.8rem;
    margin: 10px 10px 6px ;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.home-product-item__price{
    display: flex;
    
    align-items: baseline;
}
.home-product-item__price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}
.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item__like{
    font-size: 1.4rem;
}
i.home-product-item__like-icon-fill{
    display: none;
    color: #EE4D2D;
}
.home-product-item__like--liked .home-product-item__like-icon-fill{
    display:inline-block
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display:none
}
.home-product-item__rating{
    font-size: 0.9rem;
    margin-top: 3px;
    margin-left: 36px;
    color: #a7a7a7;
}
.home-product-item__star--gold{
    color: var(--star-gold-color);
    
}
.home-product-item__sold{
    font-size: 1.2rem;
    color: #555;
    margin: 2px -6px;
}
.home-product-item__origin{
    display: flex;
    margin: 0px 10px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 3px;
}
.home-product-item__brand{
    margin-right: auto;
}
.home-product-item__origin-name{

}
.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    
}
.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left:0;
    bottom: -4px;
    border-top: 3.5px solid currentColor;
    border-left: 3.5px solid transparent;
    top:13.3px;
    filter: brightness(60%);
    
}
.home-product-item__favourite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}
.home-product-item__favourite span {
    color: var(--white-color);
}
.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top:0;
    width: 40px;
    height: 36px;
    background-color: rgba(255,216 , 64, 0.94);
    text-align: center;
}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color:red rgba(255,216 , 64, 0.94) transparent rgba(255,216 , 64, 0.94);
    margin-top: 2px;


}
.home-product-item__sale-off-percent{
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
    top: 2px;
    position: relative;

}
.home-product-item__sale-off-label{
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);
    position: relative;
    top: 6px;

}
.home-product__pagination{
    margin-top: 48px;
    margin-bottom: 32px;
}
/* footer */
.footer{
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer__list{
    list-style: none;
    padding-left: 0;
}
.footer__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: block;
}
.footer__link:hover{
    color: var(--primary-color);
}
.footer__link-icon{
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}
.footer__dowload{
    display: flex;
    justify-content: space-evenly;
    
}
.footer__qr{
   width: 80px;
   border: 1px solid #857e7e;
}
.footer__app{
    width: 80px;
    margin-top: 5px;
    
}
.footer__bottom{
    background-color: #f7f7f7;
    padding: 16px 0;
}
.footer_text{
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
}
.login{
    cursor: default;
}
.dangnhap{
  margin-top: 99px;
}
